{% extends 'base.html' %}
{% block content %}
<div class="ftco-blocks-cover-1">

    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
        style="background-image: url('{{post.image.url}}')">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-7">

                    <span class="d-block mb-3 text-white" data-aos="fade-up">{{post.published_date|date:"d M Y"}}<span
                            class="mx-2 text-primary"></span>By {{post.author.user.username}}</span>
                    <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">{{post.title}}</h1>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-content">
                <p>{{post.content|linebreaks}}</p>

                <div class="pt-5">
                    {% if post.category and post.category.slug %}
                    <p>Category: <a href="{% url 'blog:category-posts' post.category.slug %}">{{post.category}}</a></p>
                    {% else %}
                    <p>Category: No Category</p>
                    {% endif %}
                </div>


                <div class="pt-5">
                    <h3 class="mb-5">{{comments.count}} Comments</h3>
                    <ul class="comment-list">
                        {% for comment in comments %}
                        {% if not comment.parent %}
                        <li class="comment">
                            <div class="comment-body">
                                <h3 style="color: #fff !important;">{{comment.name}}</h3>
                                <div class="meta">{{comment.created_date|date:"d M Y"}}</div>
                                <p>{{comment.message}}</p>
                                {% if user.is_staff %}
                                
                                {% endif %}
                                {% if user.is_authenticated %}
                                <p>
                                    <a href="{% url 'blog:comment-reply' post_pk=post.pk parent_pk=comment.pk %}"
                                        class="reply-button"
                                        data-url="{% url 'blog:comment-reply' post_pk=post.pk parent_pk=comment.pk %}"
                                        data-parent-id="{{ comment.pk }}">
                                        Reply
                                    </a>
                                </p>
                                <p>
                                    <a href="{% url 'blog:comment-delete' comment.pk %}"  style="background-color: transparent; color: rgb(193, 0, 0) !important; border: none !important;">
                                        Delete Comment
                                    </a>
                                </p>
                                <div class="reply-section" id="reply-section-{{ comment.pk }}" style="display:none;">
                                </div>
                                {% endif %}
                            </div>
                        </li>
                        {% for reply in comment.replies.all %}
                        <li class="comment" style="margin-left: 50px;">
                            <div class="comment-body">
                                <h3 style="color: #fff !important;">{{ reply.name }}</h3>
                                <div class="meta">{{ reply.created_date|date:"d M Y" }}
                                    • Reply to {{ comment.name }}
                                </div>
                                <p>{{ reply.message }}</p>
                                <p>
                                    <a href="{% url 'blog:comment-delete' reply.pk %}"
                                    style="background-color: transparent; color: rgb(193, 0, 0) !important; border: none !important;">
                                    Delete Reply
                                    </a>
                                </p>
                            </div>
                        </li>
                        {% if user.is_staff %}
                        
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method="post" action="{% url 'blog:comment-create' post.pk %}" class="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" name="email">
                            </div>


                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary btn-md text-white">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-4 sidebar">
                {% include "blog/post_categories.html" %}

                {% include "blog/post_author.html" %}

                {% include "blog/recent_sidebar.html" %}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.reply-button', function (e) {
        e.preventDefault();

        var url = $(this).data('url');
        var parentId = $(this).data('parent-id');
        var replySection = $('#reply-section-' + parentId);

        if (replySection.is(':visible')) {
            replySection.slideUp().html('');
            return;
        }

        $.ajax({
            url: url,
            type: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function (response) {
                replySection.html(response);
                replySection.slideDown();
            },
            error: function () {
                alert('Could not load reply form.');
            }
        });
    });

    $(document).on('click', '.cancel-reply', function (e) {
        e.preventDefault();

        $(this)
            .closest('.reply-form-container')
            .remove();
    });

    $(document).on('submit', '.ajax-reply-form', function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var formData = form.serialize();
        var replySection = form.closest('.reply-section');

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    replySection.html(response.form_html);
                }
            },
            error: function () {
                alert('Error submitting reply.');
            }
        });
    });
</script>





{% endblock %}